<!DOCTYPE html>
<html>
	<head>
		<title>CmpE 239 Project</title>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var d;
		  var socket = io.connect('http://ec2-54-67-74-154.us-west-1.compute.amazonaws.com/');
		  socket.on('stream', function (data) {
		  	console.log("Client:")
		    console.log(data[0].at);
		    var newDate = new Date(data[0].at);
		    var weekday = newDate.getDay();
		    console.log(weekday);
		    d = data[0];
		    document.getElementById('something').innerHTML = "" + d.at + ": " + d.value;
		  });

		  // Array for last hour for graph
		  var hour = [];

		  socket.on('day', function (data) {
		  	console.log("day total: " + data);
		  });

		  socket.on('week', function (data) {
		  	console.log("week total: " + data);
		  });

		  // Days of the week
		  var days = [
		  	{
		  		"day" : "Monday",
		  		"time" : [
		  			{
		  				"tod" : "Morning",
		  				"average" : .543
		  			},{
		  				"tod" : "Noon",
		  				"average" : .543
		  			},{
		  				"tod" : "Evening",
		  				"average" : .543
		  			},{
		  				"tod" : "Late Night",
		  				"average" : .543
		  			}
		  		]
		  	},{
		  		"day" : "Tuesday",
		  	},{
		  		"day" : "Wednesday",
		  	},{
		  		"day" : "Thursday",
		  	},{
		  		"day" : "Friday"
		  	}
		  ]

		  var currentDate = new Date();
		  var day = currentDate.toISOString();
		  var dayOfWeek = currentDate.getDay();
		  console.log(currentDate.toISOString());
		  console.log(dayOfWeek);

		</script>
	</head>
	<body ng-app="cmpe239">
		<h1>CmpE 239 Project</h1>
		<p>Hello World!</p>
		<div id="something"></div>
		<div id="date"></div>


		<script src="bower_components/angular/angular.js"></script>
	</body>
</html>